<ul>
  <div class="card">
    <h1><%= "Colors available" %></h1>
    <p><%= @colors_available.join %></p>
    <p><%= "PS: As corres estão como teste. Estão como string, e não como array" %></p>
  </div>
</ul>

<ul>
  <div class="card">
    <h1><%= "Sizes available" %></h1>
    <p><%= @sizes_available.join %></p>
  </div>
</ul>

<ul>
  <div class="card">
    <h1><%= "Categories available" %></h1>
    <p><%= @categories_available.join %></p>
  </div>
</ul>

<ul>
  <div class="card">
    <h1><%= "Prices available" %></h1>
    <p><%= @prices_available.join %></p>
  </div>
</ul>
