<%# MAIN CAROUSEL %>
<div class="carousel" data-carousel="1" data-speed="5000">
  <span class="carousel-control-left"></span>
  <span class="carousel-control-right"></span>

  <div class="carousel-content">
    <!-- add extra last pic first and extra first pic last for hover effect to work properly  -->
    <img src="https://images.unsplash.com/photo-1591085686350-798c0f9faa7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80" alt="image 3" />

    <img src="https://images.unsplash.com/photo-1483181994834-aba9fd1e251a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="image 1" />

    <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" alt="image 2" />

    <img src="https://images.unsplash.com/photo-1591085686350-798c0f9faa7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80" alt="image 3" />

    <img src="https://images.unsplash.com/photo-1483181994834-aba9fd1e251a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="image 1" />
  </div>
</div>


<%# PRODUCTS CARDS  %>

<h1 class="products-cards-title">PRODUTOS</h1>


<%# CAROUSEL TEST %>

<div class="slider-container">
    <div class="inner-slider">
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
    </div>
</div>



<%# ///////////////////////////////////////////// %>


<div class="card-group col-xxl-8 col-md-10 mx-auto gap-2 my-4">

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

</div>



<%# GRID IMAGES CARD  %>

<div class="grid-img-container js-scroll">
  <div class="grid-images">

    <a href="/" data-gridimgs="img1"></a>

    <a href="/" data-gridimgs="img2"></a>

    <a href="/" data-gridimgs="img3"></a>

  </div>
</div>


<%# PRODUCTS CARDS  %>

<%# <div class="cards-container">
  <div class="cards-products-container">
    <div class="cards-product">
      <img class="cards-img" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
      <h2 class="cards-title">Product</h2>
      <h3 class="cards-price">R$00,00</h3>
      <a class="cards-btn" href="/">Ver mais</a>
    </div>
    <div class="cards-product">
      <img class="cards-img" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
      <h2 class="cards-title">Product</h2>
      <h3 class="cards-price">R$00,00</h3>
      <a class="cards-btn" href="/">Ver mais</a>
    </div>
    <div class="cards-product">
      <img class="cards-img" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
      <h2 class="cards-title">Product</h2>
      <h3 class="cards-price">R$00,00</h3>
      <a class="cards-btn" href="/">Ver mais</a>
    </div>
    <div class="cards-product">
      <img class="cards-img" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
      <h2 class="cards-title">Product</h2>
      <h3 class="cards-price">R$00,00</h3>
      <a class="cards-btn" href="/">Ver mais</a>
    </div>
  </div>
</div> %>

<div class="card-group col-xxl-8 col-md-10 mx-auto gap-3 my-4">

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

</div>

<div class="card-group col-xxl-8 col-md-10 mx-auto gap-3 my-4">

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <a href="/" class="card shadow rounded p-2 bstest-cards">
      <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
      <div class="card-body d-flex justify-content-center">
        <h5 class="card-title">Produto</h5>
      </div>
      <div class="card-body text-center">
        <p class="card-price">R$100,00</p>
      </div>
    </a>
  <%# </a> %>

</div>



<%# DIVIDER %>

<div class="divider-container">
  <span class="footer-divider"></span>
</div>



<%# FOOTER %>

<div class="footer-container">
  <%= link_to "/", class: "footer-logo" do %>
    <%= image_tag "logo-footer.png"%>
  <% end %>
  <div class="footer-medias">
    <a href="/"><i class="fa-brands fa-square-facebook medias-icon"></i></a>
    <a href="/"><i class="fa-brands fa-square-instagram medias-icon"></i></a>
    <a href="/"><i class="fa-brands fa-square-whatsapp medias-icon"></i></a>
    <a href="/"><i class="fa-brands fa-square-twitter medias-icon"></i></a>
  </div>

</div>

<div class="copyrigth">
  <h4 class="copyrigth-text">© 2022-2023 You Moda Feminina, Inc.</h4>
</div>



<%# TESTS %>


<%# Boostrap carousel test %>






<%# Products link cards with bootstrap, missing some fixes on responsive %>

<%# <div class="card-group col-xxl-8 col-md-10 mx-auto gap-3 my-4">

  <%# <a href="/" class="card"> %>
    <%# <a href="/" class="card shadow rounded p-2 bstest-cards"> %>
      <%# <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto"> %>
      <%# <div class="card-body d-flex justify-content-center"> %>
        <%# <h5 class="card-title">Produto</h5> %>
      <%# </div> %>
      <%# <div class="card-body text-center"> %>
        <%# <p class="card-price">R$100,00</p> %>
      <%# </div> %>
    <%# </a> %>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <%# <a href="/" class="card shadow rounded p-2 bstest-cards"> %>
      <%# <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto"> %>
      <%# <div class="card-body d-flex justify-content-center"> %>
        <%# <h5 class="card-title">Produto</h5> %>
      <%# </div> %>
      <%# <div class="card-body text-center"> %>
        <%# <p class="card-price">R$100,00</p> %>
      <%# </div> %>
    <%# </a> %>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <%# <a href="/" class="card shadow rounded p-2 bstest-cards"> %>
      <%# <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto"> %>
      <%# <div class="card-body d-flex justify-content-center"> %>
        <%# <h5 class="card-title">Produto</h5> %>
      <%# </div> %>
      <%# <div class="card-body text-center"> %>
        <%# <p class="card-price">R$100,00</p> %>
      <%# </div> %>
    <%# </a> %>
  <%# </a> %>

  <%# <a href="/" class="card"> %>
    <%# <a href="/" class="card shadow rounded p-2 bstest-cards"> %>
      <%# <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto"> %>
      <%# <div class="card-body d-flex justify-content-center"> %>
        <%# <h5 class="card-title">Produto</h5> %>
      <%# </div> %>
      <%# <div class="card-body text-center"> %>
        <%# <p class="card-price">R$100,00</p> %>
      <%# </div> %>
    <%# </a> %>
  <%# </a> %>

<%# </div> %>





<%# CAROUSEL TEST %>

<div class="slider-container">
    <div class="inner-slider">
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
        <div class="card-tesst">

          <a href="/" class="card shadow rounded p-2 bstest-cards">
            <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1519167130418-c3640bd21b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Imagem do produto">
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Produto</h5>
            </div>
            <div class="card-body text-center">
              <p class="card-price">R$100,00</p>
            </div>
          </a>

        </div>
    </div>
</div>



<ul>
  <div class="card">
    <% @products.each do |product| %>
      <img src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans" style="width:100%">
      <h1><%= product.name %></h1>
        <p class="price">R$<%= product.price %></p>
        <p><%= product.description %></p>
        <%= link_to "View more", "/products/#{product.id}" %>
        <p><button link_to>Add to Cart</button></p>
    <% end %>
  </div>
</ul>
