<%= render 'shared/productAddToinventory' %>

<%= render 'shared/homeCarousel' %>

<%= render 'shared/sectionTitle' %>

<%= render 'shared/homeBagGrid' %>


<section class="home-second-body">

  <%= render 'shared/cardsCarouselTitle' %>

  <%= render 'shared/homeCardsCarousel' %>

  <%= render 'shared/trendingTitle' %>

  <%= render 'shared/trendingGrid' %>

  <%= render 'shared/footerMedias' %>

  <%= render 'shared/footerBanner' %>

  <%= render 'shared/footerBody' %>

</section>
