
 <%= simple_form_for Product.new do |p| %>
    <%= p.input :name, label:"name" %>
    <%= p.input :category, label:"category" %>
    <%= p.input :price, label:"price" %>
    <%= p.input :image, label:"image" %>
    <%= p.input :size, label:"size" %>
    <%= p.input :color, label:"color" %>
    <%= p.input :description, label:"description" %>

    <%= p.button :submit, 'Adicionar produto ao estoque',class:"btn btn-outline-success" %>
  <% end %>

<%= render 'shared/homeCarousel' %>

<%= render 'shared/sectionTitle' %>

<%= render 'shared/homeBagGrid' %>


<section class="home-second-body">

  <%= render 'shared/cardsCarouselTitle' %>

  <%= render 'shared/homeCardsCarousel' %>

  <%= render 'shared/trendingTitle' %>

  <%= render 'shared/trendingGrid' %>

  <%= render 'shared/footerMedias' %>

  <%= render 'shared/footerBanner' %>

  <%= render 'shared/footerBody' %>

</section>
