<%= render 'shared/filterCanvas' %>

<%# PRODUCT CARD %>

<%= render 'shared/productsAvailability' %>



<ul>
  <div class="card">
    <% @products[0..1].each do |product| %>
      <img src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans" style="width:100%">
      <h1><%= product.name %></h1>
        <p class="price">R$<%= product.price %></p>
        <p><%= product.description %></p>
        <%= link_to "View more", "/products/#{product.id}" %>
        <p><button link_to>Add to Cart</button></p>
    <% end %>
  </div>
</ul>


  <%# ADD .EACH FOR PRODUCT %>
  <%# <% @products.each do |product| %>
    <%# <li><%= product.address</li> %>
    <%# <td><% if policy(product).show? %>
              <%# <%= link_to "Show", product_path(product) %>
        <%# <% end</td>  %>
    <%# <td><% if policy(product).update? %>
              <%# <%= link_to "Edit", edit_product_path(product) %>
        <%# <% end</td> %>
    <%# <td><% if policy(product).update? %>
              <%# <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%# <% end</td> %>
  <%# <% end %>
